@import "../../../common/main.scss";
.tagContainer {
  transform: scaleY(0);
  transform-origin: top;
  animation: tag 0.4s forwards cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.tagText {
  display: inline-block;
  color: $chosenText;
  border-radius: 5px;
  font-weight: bold;
  background-color: $basicText;
  padding: 3px 3px 2px 2px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  margin: 5px;
}

@keyframes tag {
  from {
  }
  to {
    transform: scaleY(1);
  }
}
