@import "../../../../common/main.scss";
.navInfo {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: $background;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image {
  width: 400px;
  height: 300px;
  background: url(https://media1.giphy.com/media/j0HjChGV0J44KrrlGv/giphy.gif?cid=ecf05e477ximpy5692kt5tiziebrjr0ploegcy7e3xf2bn71&rid=giphy.gif&ct=s)
    no-repeat center center;
  background-size: 101% 101%;
  transition: 0.4s;
}
.title {
  color: $basicText;
  margin-top: 1em;
  transition: 0.4s 0.2s;
}
.text {
  width: 25em;
  color: $basicText;
  font-size: 18px;
  transition: 0.8s 0.8s;
}
.tags {
  display: flex;
  flex-wrap: wrap;
}
