@import "../../../common/main.scss";
.codeContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(47 47 47);
  color: $chosenText;
  overflow-y: auto;
  padding: 1em;
  .spinnerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
