@import "../../../../common/main.scss";
.navInfo {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: $background;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing {
  font-size: 48px;
  font-weight: bold;
  color: $basicText;
  border-right: 0.1em solid $basicText;
  width: 13ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(13, end),
    blink-caret 0.5s step-end infinite alternate;
}
