@import "../../../common/main.scss";
.aboutCodeContainer {
  width: 20em;
  height: 36%;
  background-color: #333;
  color: white;
  margin-bottom: 2em;
  overflow-y: scroll;
  padding: 2px;
  .spinnerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
