@import "../../common/main.scss";
.loadingContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $basicTheme;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  z-index: 10;
}
.progressBar {
  position: absolute;
}
.loadingImage {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url(https://media0.giphy.com/media/UQ1EI1ML2ABQdbebup/200w.webp?cid=ecf05e474qjea34r706zq8434e9eb3g43fw7pi04xd7gvkac&rid=200w.webp&ct=s)
    no-repeat center center;
  background-size: 100% 100%;
}
