.intro {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.introContainer {
  position: absolute;
  background-color: violet;
  /* 임시 높이 */
  height: 1100px;
}
