@import "../../../../common/main.scss";
.navInfo {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: $background;
  color: $basicText;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  position: absolute;
  font-weight: bold;
  font-size: 48px;
  transition: 0.8s cubic-bezier(0.65, 0, 0.35, 1);
}
.thumb {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 50%;
  transform: scale(0);
  animation: scale-easeInBounce 1s forwards 0.8s;
  background: url(https://tistory3.daumcdn.net/tistory/4707383/skin/images/profile.jpg)
    no-repeat center center;
  background-size: 101% 101%;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $basicText;
  font-size: 24px;
  font-weight: bold;
  margin-top: 5rem;
}
