@import "../../../../common/main.scss";
.navInfo {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: $background;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info {
  color: $basicText;
  padding-top: 2em;
  font-weight: bold;
  font-size: 24px;
}
.infoGif {
  width: 100%;
  height: 50%;
  background: url(https://user-images.githubusercontent.com/79053495/151191805-7286b0bb-4b0a-4325-b542-afca5993f917.gif)
    no-repeat center center;
}
