$basicTheme: #2a2a2a;
$basicText: #5a5a5a;
$chosenText: #9f9f9f;
$basicPink: pink;
$buttonBottom: black;
$buttonTop: rgb(168, 168, 168);
$testColor: white;
$background: #1f1f1f;

// break points

$sm: 540px;
$md: 704px;
$lg: 924px;
$xl: 1140px;
$xxl: 1364px;

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
@keyframes test {
  0% {
    width: 0;
  }
  100% {
    width: 40rem;
  }
}

@keyframes scale-easeInBounce {
  0% {
    transform: scale(0);
  }

  4% {
    transform: scale(0.11);
  }

  8% {
    transform: scale(0.44);
  }

  18% {
    transform: scale(0.98);
  }

  26% {
    transform: scale(0.75);
  }

  46% {
    transform: scale(0.98);
  }

  64% {
    transform: scale(0.94);
  }

  76% {
    transform: scale(0.99);
  }

  88% {
    transform: scale(0.98);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes textMove {
  0% {
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
    opacity: 1;
  }
}

@keyframes ironMan {
  0% {
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pageMove {
  0% {
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes progressStart {
  0% {
    width: 0%;
  }
}
@keyframes progressEnd {
  0% {
    right: 0;
    width: 100%;
  }
  100% {
    right: 0;
    width: 0%;
  }
}

@keyframes fontDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    font-size: 48px;
  }
}
