@import "../../common/main.scss";

.container {
  position: absolute;
  width: 100%;
}
.hamburger {
  position: absolute;
  z-index: 2;
  color: $basicText;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  padding-top: 2rem;
}
.nav {
  position: absolute;
  width: 50%;
  height: 100vh;
  z-index: 2;
}
.navInfo {
  z-index: 1;
}
